.Button {
    padding: 10px;
    width: fit-content;
    border: none;
    height: 100%;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f70b17;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: #050000 0px 1px 5px;
}

.Button:hover {
    background-color: #008fd1; ;
    transform: scale(0.9);
    transition: 0.2s;
}